body
{
    background-image: url("https://cdn2.vectorstock.com/i/1000x1000/57/96/math-colorful-horizontal-banner-vector-18715796.jpg");
    background-position: center;
	background-size: cover;
}

h2
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(227, 71, 241);
}

::placeholder
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}