body
{
    background:dodgerblue;
}

h2
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:lightblue;
}

::placeholder
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}